body {
    background-image: url("Hockeyfield.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;

}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

#top-logo {
    opacity: 0.6;
    float: left;

}

#menu {
    float: left;
    position: absolute;
    top: 3%;
    left: 20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;



}

#menu li {
    display: inline-block;
    margin: 10px;
    padding: 10px;


}

#menu a {
    text-decoration: none;
}

#menu a:hover{
    text-decoration: underline;
    opacity:0.4;
}

#Stories {
    width: 40%;
    height: 60%;
    border: 5px solid black;
    position: fixed;
    left: 30%;

}
