<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>welcome home, create a new user</p>
<form action="/home" method="post">
    <input type="text" name="username" placeholder="Enter username">
    <input type ="text" name="firstname" placeholder="Enter firstname">
    <input type ="text" name="lastname" placeholder="Enter lastname">
    <input type="password" name="password" placeholder="Enter password">
    <input type="text" name="email" placeholder="Enter email">

    <input type="submit" value="Create new member">
</form>

</body>
</html>
